body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$grey: #ecf0f1;
$blue: #024BAE;
$bg: url('../img/soccer.jpg');
$mobile: url('../img/soccerMobile.jpeg');

a {
  text-decoration: none;
}

/*Desktop version*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  border-bottom: solid 0.5px $grey;

  img {
    align-self: start;
  }

  .MuiPaper-elevation1 {
    box-shadow: none;
  }

  .burger-button {
    display: none;
  }

}

.homepage {
  height: 120vh;
  background-image: $mobile;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

    .homepage-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10%;
      margin: 5%;
    }

    .MuiButton-contained {
      padding: 50px;
      margin-bottom: 50px;
    }

    .MuiButton-label {
      font-size: 2em;
      color: $blue;
    }

    .MuiTypography-h2 {
      color: $blue;
      font-weight: 900;
      padding-top: 10%;
    }
}

.league {
  background-image: none;
}


/*Mobile version*/
@media only screen and (max-width: 1400px) {
  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;

    .MuiPaper-elevation1 {
      display: none;
    }

    .burger-button{
      display: block;

      .MuiButton-containedPrimary {
        background-color: $blue;
      }
    } 
  }

  .homepage {

    background-image: $mobile;
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    width:100%; 

    .homepage-items {
      display: flex;
      flex-direction: column;
    }

    .MuiButton-contained {
      padding: 30px;
      margin-bottom: 30px;
    }

    .MuiButton-label {
      font-size: 1.5em;
    }

    .MuiTypography-h2 {
      font-size: 2em;
      font-weight: 900;
      padding-top: 10%;
    }
  }
  
}
